*{
    margin: 0%;
}
body{
    font-family: Roboto, 'Arial';
    overflow-x: hidden;
}
.body-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    column-gap: 70px;
}