.main-container{
    margin-top: 230px;
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: left;
    margin-left: 90px;
    margin-right: 20px;
    margin-bottom: 90px;

}
.containter-block{
    display: block;
}
.div-img{
    display: inline-block;
    width: 62%;
}
.img-info{
    flex: 1;
    display: inline-block;
    width: 33%;
    vertical-align: top;
    margin-left: 10px;
}
.img-detail{
    width: 98%;
}
.image-title1,
.image-title2,
.image-title3,
.image-title4{
    
    width: 360px;
    text-align: justify;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    
}
.image-title6{
    width: 360px;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.image-title7{
    width: 380px;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.image-title8{
    width: 350px;
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.image-title1{
    margin-top: 20px;
    margin-bottom: 10px;
}
.image-title2{
    margin-top: 10px;
}
.image-title3{
    margin-bottom: 15px;
}
.image-title4{
    margin-top: 10px;
    margin-bottom:15px
}


.image-description-1,
.image-description-2,
.image-description-14{
    width: 360px;
    line-height: 22px;
}

.image-description-1{
    font-weight: 350;
    color: black;
}
.image-description-14{
    font-weight: 300;
    line-height: 20px;;
    font-size: 16px;
}
.image-description-2{
    width: 350px;
    text-align: justify;
    font-size: 9px;
    line-height: 15px;
    font-weight: 300;
    color: black;
}
.image-description-16{
    width: 360px;
    line-height: 22px;
    color: rgb(86, 86, 86);
}
.image-description-17{
    width: 370px;
    line-height: 23px;
    color: rgb(86, 86, 86);
    font-weight: 350;
}


.Underline-color{
    text-decoration: underline;
    color: #006bae;
    cursor: pointer;
}
.order-now,
.Get-a-Free-Big-Mac{
    background-color:rgba(252, 187, 22, 0.973);
    border: none;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    font-size: 16px;
    padding: 15px 30px;
    border-radius: 4px;
    cursor: pointer;
}
.order-now{
    margin-top: 30px;
}
.Get-a-Free-Big-Mac{
    margin-top: 40px; 
}
.List-style{
    font-weight: 600;
    margin-top: 40px;
}